doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Semantic-UI
    link(rel="stylesheet" type="text/css" href="../../lib/bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="public/css/sass.min.css")
  body
    .ui.grid
        .four.wide.column
            a(href="javascript:void(0);") column1
        .four.wide.column
            a(href="javascript:void(0);") column2
        .four.wide.column
            a(href="javascript:void(0);") column3
        .four.wide.column
            a(href="javascript:void(0);") column4
    script(src="../../lib/bower_components/jquery/dist/jquery.min.js")
    script(src="../../lib/bower_components/semantic/dist/semantic.min.js")
